@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: white;
  color: #333;
  font-family: "Poppins", sans-serif;
}

/* .accordion-item:active {
  box-shadow: none;
  color: black;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-button.collapsed::after {
  background: url("../img/icon/up.svg");
}

.accordion-button:not(.collapsed)::after {
  background: url("../img/icon/up.svg");
} */

.section {
  padding-top: 100px;
  background-size: cover;
  min-height: 50vh;
  padding-bottom: 100px;
}

.accordion-item {
  border-left: none;
  border-right: none;
}

.hero {
  background-color: #fbfbfb;
}

.process {
  background-color: white;
}

.services {
  background-color: #51b56d;
}

.banner-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #51b56d;
}

.banner-title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: black;
}

.banner-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.bg-lightgreen {
  background-color: #aaca69;
  color: white;
}

/*  */
.thumbnail {
  position: relative;
  width: 100px; /*Or whatever you want*/
}

.thumb-vid {
  width: 100%;
  border-radius: 3%;
}

.thumb-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav li {
  font-size: 14px;
}

a.text-gray:hover {
  color: #42a85f;
}

a.text-gray:focus {
  color: #42a85f;
}

a.text-gray:target {
  color: #42a85f;
}

.bg-green {
  background-color: #42a85f;
  color: white;
}

.bg-lightgray {
  background-color: #fbfbfb;
}

.btn-green {
  background-color: #42a85f;
  color: white;
}

.btn-white {
  background-color: white;
  color: #42a85f;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.text-gray {
  color: #333;
}

.text-green {
  color: #42a85f;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.p-50 {
  padding: 50px;
}

.p-30 {
  padding: 30px;
}

.search-navbar {
  max-width: 150px;
}

.bg-green a {
  color: white;
}

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }

  .services-card {
    width: 20rem;
  }

  .services-img {
    width: 90px;
  }

  .process-title {
    font-size: 20px;
  }

  .process-text {
    font-size: 16px;
  }
}

/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 992px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
  .hero {
    /* height: 100px; */
  }
  .card-title {
    font-size: 13px;
  }
  .card-text {
    font-size: 12px;
  }
  .banner-title {
    font-size: 20px;
    line-height: 30px;
  }
  .banner-title2 {
    font-size: 24px;
    line-height: 36px;
  }
  .banner-desc {
    font-size: 14px;
    line-height: 21px;
  }
  .services-card {
    width: 14rem;
    margin-right: 15px;
  }
  .services-img {
    width: 25%;
  }
  .process-img {
    width: 20%;
  }

  .services-group-card {
    margin-top: 60px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
} /*# sourceMappingURL=style.css.map */

@media (max-width: 755px) {
  .process-card {
    width: 14rem;
  }
}
