@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: white;
  color: #333;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav li {
  font-size: 14px;
}

a.text-gray:hover {
  color: #42a85f;
}

a.text-gray:focus {
  color: #42a85f;
}

a.text-gray:target {
  color: #42a85f;
}

.bg-green {
  background-color: #42a85f;
  color: white;
}

.bg-lightgray {
  background-color: #fbfbfb;
}

.btn-green {
  background-color: #42a85f;
  color: white;
}

.btn-white {
  background-color: white;
  color: #42a85f;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.text-gray {
  color: #333;
}

.text-green {
  color: #42a85f;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.p-50 {
  padding: 50px;
}

.p-30 {
  padding: 30px;
}

.search-navbar {
  max-width: 150px;
}

.bg-green a {
  color: white;
}

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
.tittle {
  font-size: 28px;
  color: #42a85f;
}

.linkHead .link {
  font-size: 16px;
}

.firstSection {
  border: 2px solid black;
}

.tittleFirstSection {
  font-size: 28px;
  color: #42a85f;
}

.tittleLogoSection2 {
  font-size: 28px;
  color: #42a85f;
}

#section1 {
  padding-bottom: 60px;
}

#section3 {
  background-color: #42a85f;
  padding: 5rem 0rem 5rem;
  color: white;
}

#section3 h1 {
  padding-bottom: 30px;
}

#section4 .cardSection4 {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.1);
}

#section4 .cardSection4 .number {
  color: white;
  border-radius: 10px;
  font-size: 28px;
  width: 64px;
  height: 64px;
  background-color: #42a85f;
}

#section4 .valueTittleSection4 {
  font-size: 28px;
  color: #42a85f;
}

.carousel {
  height: 200px;
}

.carousel-item img {
  width: 10px;
}

.carousel-indicators .active {
  background-color: #42a85f;
}

.carousel-indicators [data-bs-target] {
  border: 2px solid #42a85f;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.tittleSection .fw-medium {
  font-size: 28px;
  color: #42a85f;
}

.tittleSection .fw-bold {
  font-size: 36px;
}

.cardPeople {
  height: 408px;
  width: 272px;
}

.cardPeople img {
  border-radius: 12px;
}

.cardPeople .mt-5 {
  font-size: 20px;
}

.card-people-container {
  display: flex;
  row-gap: 90px;
  -moz-column-gap: 9px;
       column-gap: 9px;
}

.cardPeople .position {
  color: #42a85f;
  font-size: 16px;
}

#section2 {
  padding-top: 100px;
  padding-bottom: 70px;
}

#section4 {
  padding-top: 100px;
  padding-bottom: 100px;
}

#section5 {
  padding-top: 100px;
  padding-bottom: 100px;
}

#section6 {
  padding-top: 70px;
  padding-bottom: 220px;
}

#section7 {
  padding-bottom: 90px;
}

#section2 .card-logo-partner {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 40px;
  height: 174px;
  width: 174px;
}

.cardBaru {
  z-index: 2;
}

@media only screen and (max-width: 550px) {
  .partnerContainer {
    transform: translateX(15%);
  }
}
@media only screen and (max-width: 480px) {
  .partnerContainer {
    transform: translateX(20%);
  }
}
@media only screen and (max-width: 764px) {
  #section7 .partnerContainer {
    padding-top: 45px;
  }
  #section5 .fw-bold {
    font-size: 31px;
  }
  #section5 .fw-medium {
    font-size: 23px;
  }
  #section6 {
    padding-bottom: 150px;
  }
  .cardBaru {
    z-index: 2;
    display: flex;
    transform: translateX(-180px);
  }
}
@media only screen and (max-width: 700px) {
  #section3 {
    padding: 3px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 755px) {
  .cardPeople {
    margin: auto;
  }
}
/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */