@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$lightgray: #fbfbfb;
$lightgray2: #f8f8f8;
$gray: #333;
$green: #42a85f;
$green2: #51b56d;

body {
  background-color: white;
  color: #333;
  font-family: "Poppins", sans-serif;
}

/* Services */

.more-services-btn {
  padding: 15px 45px;
  gap: 10px;

  width: 269px;
  height: 60px;
  border: 2px solid #51b56d;
  border-radius: 50px;
}

.services-card {
  width: 370px;
  height: 308px;
  border-radius: 10px;
  transition: 0.3s;
}

.services-card:hover {
  box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.25);
}

.bg-lightgray2 {
  background-color: $lightgray2;
}
/* gallery */

.btn-group > .btn {
  border-color: rgba(177, 177, 177, 1);
  // border-width: 1px;
  color: $green2;
  font-size: 14px;
}

.btn-group > .btn:hover {
  border-color: rgba(177, 177, 177, 1);
  color: white;
  background-color: $green2;
}

.gallery-card {
  width: 272px;
  height: 303px;
  background: #ffffff;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.gallery-card > img {
  border-radius: 10px 10px 0 0;
}

.gallery-card:hover {
  box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.25);
}

/* resources */

.example {
  position: relative;
}

.example .centered-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}
.example .text {
  display: flex;
  flex-direction: column;
  padding: 10% 10% 10%;
}
.gaia-header {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.example img {
  width: 100%;
  filter: brightness(0.6);
}

#data-table_previous a {
  color: $green2;
}

#data-table_next a {
  color: $green2;
}

.active > .page-link {
  background-color: $green2;
  border-color: #dee2e6;
}

.active > .page-link:hover {
  color: white;
}

a.page-link {
  color: $green2;
}

a.page-link:hover {
  color: $green2;
}

/*blog section*/

.date-post {
  color: $green2;
  font-weight: 500;
  line-height: 24px;
}

.header-post {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;

  font-family: "Poppins", sans-serif;
  padding-right: 30px;
}

.desc-post {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #333333;
}

/* contact section */
.region-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.contact-card {
  position: relative;
  width: 564px;
  height: 622px;

  background: #ffffff;
  box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

textarea {
  width: 464px;
  height: 90px;
}

.address-title {
  width: 94px;
  height: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: $green2;
}
/* projects starts */

.section-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 10px;

  position: absolute;
  width: 80px;
  height: 24px;
}

.bg-green-2 {
  background-color: $green2;
}

.green-2 {
  color: $green2;
}

.label-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
}

.banner-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  font-family: "Poppins", sans-serif;
}

.banner-title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: $gray;
}

.banner-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}

.centered-line {
  position: absolute;
  top: 19%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.process-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;

  color: $green2;
}

.text-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: $gray;
}

.card {
  width: 370px;
  height: 326px;

  background: #ffffff;
  box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card-body {
  padding: 30px 30px 40px 30px;
}

.services-img {
  background: #51b56d;
  border: 5px solid #51b56d;
  border-radius: 10px;
  width: 90px;
  margin-bottom: 30px;
}

.services-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: $gray;
  margin-bottom: 10px;
}

.services-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: $gray;
}

.container-card {
  position: relative;
}

.accordion-item {
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: black;
}

.thumbnail {
  position: relative;
  width: 100px; /*Or whatever you want*/
}
.latest-article-image {
  height: 113px;
  width: 90px;
  border-radius: 5px;
}
.prevNextButton {
  margin-top: 90px;
  margin-bottom: 20px;
}
.thumb-vid {
  width: 100%;
  border-radius: 3%;
}
.list-inline-item {
  height: 48px;
  width: 48px;
  border-radius: 90px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-section {
  padding: 25px 0 25px;
}
.widget img {
  transform: scale(1.2);
}
.thumb-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-lightgreen {
  background-color: #aaca69;
  color: white;
}

/* end projects */

nav li {
  font-size: 14px;
}

a.text-gray:hover {
  color: $green;
}

a.text-gray:focus {
  color: $green;
}

a.text-gray:target {
  color: $green;
}

.bg-green {
  background-color: $green;
  color: white;
}

.bg-lightgray {
  background-color: #fbfbfb;
}

.btn-green {
  background-color: $green2;
  color: white;
}

.btn-white {
  background-color: white;
  color: $green;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.text-gray {
  color: #333;
}

.mr-25 {
  margin-right: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.text-green {
  color: $green;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.p-50 {
  padding: 50px;
}

.p-30 {
  padding: 30px;
}

.pb-10 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-36 {
  padding-top: 36px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-30 {
  padding-right: 30px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-30 {
  padding-left: 30px;
}

.p-qa {
  padding-left: 295px;
  padding-right: 295px;
}

.search-navbar {
  max-width: 150px;
}

.bg-green a {
  color: white;
}

.process-text {
  font-size: 16px;
}

@media (min-width: 992px) and (max-width: 1175px) {
  .card {
    width: 320px;
    height: 270px;
  }

  .services-card {
    width: 296px;
    height: 270.4px;
  }

  .process-title {
    font-weight: 600;
    font-size: 19.2px;
    line-height: 28.8px;
  }

  .contact-card {
    position: relative;
    width: 100%;
    height: fit-content;

    background: #ffffff;
    box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .card-body {
    padding: 25px 25px 35px 25px;
  }

  .services-img {
    border-radius: 15px;
    width: 70px;
    margin-bottom: 15px;
  }

  .services-desc {
    font-weight: 500;
    font-size: 13px;
  }

  .services-title {
    font-weight: 700;
    font-size: 17px;

    margin-bottom: 8px;
  }

  label {
    font-size: 15px;
  }
}

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }

  .services-card {
    width: 296px;
    height: 270.4px;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }

  .p-qa {
    padding-left: 140px;
    padding-right: 140px;
  }
  .pt-50 {
    padding-top: 40px;
  }

  .p-50 {
    padding: 40px;
  }
}
#qouteImage {
  position: relative;
  text-align: center;
  color: white;
}
#qouteImage .quoteText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#qouteImage .quoteText p {
  font-size: 1.9rem;
  font-weight: 700;
}
/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 834px) {
  #qouteImage .quoteText p {
    font-size: 1rem;
  }
}
@media (max-width: 485px) {
  #qouteImage .quoteText p {
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  .btn-group > .btn {
    font-size: 10px;
  }

  .services-card {
    width: 296px;
    height: 270.4px;
  }
  .gaia-header {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
  .gaia-desc {
    font-size: 13px;
  }

  .gallery-card {
    width: 217.6px;
    height: 285px;
  }

  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }

  .contact-desc {
    margin-bottom: 40px;
  }

  .card-title {
    font-size: 13px;
  }

  .card-text {
    font-size: 12px;
  }

  .banner-desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .process-title {
    font-size: 21px;
  }

  .text-desc {
    font-size: 15px;
  }

  .process-img {
    width: 30%;
  }

  .services-group-card {
    margin-top: 60px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .p-qa {
    padding-left: 90px;
    padding-right: 90px;
  }

  .accordion-button {
    font-size: 13px;
  }

  .accordion-body {
    font-size: 12px;
  }

  .process-text {
    font-size: 10px;
  }

  .centered-line {
    top: 40px;
  }

  .banner-title {
    font-size: 22px;
    line-height: 28px;
  }

  .contact-card {
    width: 100%;
    height: 530px;
  }

  .pt-50 {
    padding-top: 20px;
  }

  .p-50 {
    padding: 20px;
  }
} /*# sourceMappingURL=style.css.map */

@media (max-width: 767px) {
  .process-card {
    width: 14rem;
  }

  .gaia-header {
    font-size: 36px;
    padding: 0;
    margin: 0;
  }
  .gaia-desc {
    font-size: 10px;
  }

  .banner-title {
    font-size: 20px;
    line-height: 30px;
  }
  .banner-title2 {
    font-size: 24px;
    line-height: 36px;
  }

  .p-qa {
    padding-left: 20px;
    padding-right: 20px;
  }

  .process-img {
    width: 15%;
  }

  .text-desc {
    font-size: 15px;
  }

  .centered-line {
    display: none;
  }

  @media (max-width: 500px) {
    .card {
      width: 290px;
      height: 230px;
    }

    .gaia-header {
      font-size: 30px;
      padding: 0;
      margin: 0;
    }
    .gaia-desc {
      font-size: 10px;
    }

    .card-body {
      padding: 20px 20px 30px 20px;
    }

    .services-img {
      border-radius: 5px;
      width: 50px;
      margin-bottom: 15px;
    }

    .services-desc {
      font-weight: 400;
      font-size: 13px;
    }

    .services-title {
      font-weight: 600;
      font-size: 17px;

      margin-bottom: 6px;
    }
  }
}
