@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$lightgray: #FBFBFB;
$softgray: #f8f8f8;
$gray: #333;
$green: #51B56D;
$lightgreen: #C8FCD7;

body {
    background-color: white;
    color: $gray;
    font-family: 'Poppins', sans-serif;
}

nav li {
    font-size: 14px;
}

a.text-gray:hover {
    color: $green;
}

a.text-gray:focus {
    color: $green;
}

a.text-gray:target {
    color: $green;
}

.section-100 {
    padding: 100px 0;
}

// background
.bg-lightgray {
    background-color: $lightgray;
}

.bg-softgray {
    background-color: $softgray;
}

.bg-lightgreen {
    background-color: $lightgreen;
}

// button
.btn-white {
    background-color: white;
    color: $green;
}

// font
.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}

.text-gray {
    color: $gray;
}

.banner-title{
    font-size: 48px;
}
.title1 {
    font-size: 36px;
    line-height: 54px;
}
.title2 {
    font-size: 28px;
    line-height: 42px;
}
.title3 {
    font-size: 24px;
    line-height: 36px;
}
.title4 {
    font-size: 20px;
    line-height: 30px;
}
.title6 {
    font-size: 16px;
    line-height: 24px;
}
.title7 {
    font-size: 14px;
}

// spacing
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-100 {
    margin-top: 100px;
}
.p-50 {
    padding: 50px;
}
.p-40 {
    padding: 40px;
}
.p-30 {
    padding: 30px;
}

// navbar
.search-navbar {
    max-width: 150px;
    max-height: 31px;
}

.btn-navbar {
    padding: 1px 10px;
    max-height: 35px;
}
.link-dropdown{
    color: white;
}

.link-dropdown:hover {
    color: $green;
    background-color: white;
}

// general
.overlay {
    filter: contrast(100%) brightness(0.4);
}

.blank-banner {
    height: 596px;
    background-size: cover;
}


// Start Home
.banner-home {
    background-image:url(../img/banner/bg-space.jpg);
    padding: 100px 0;
    background-size: cover;
}

.card-banner {
    background: rgba(43, 45, 52, 0.5);
    border-radius: 20px;
    padding: 40px 30px;
    transition: 0.3s;
    color: $gray;
}

.card-banner:hover {
    color: $gray;
    box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.25);
    background: rgba(43, 45, 52, 0.89);
}

.card-home {
    background-color: $lightgreen;
    border-radius: 20px;
}

.card-home h2 {
    font-size: 64px;
}

@media only screen and (max-width: 500px) {
    .banner-home {
        padding: 50px 0;
    }

    .card-banner {
    background: rgba(43, 45, 52, 0.7);
        border-radius: 10px;
        padding: 20px 15px;
    }
    
    .card-banner:hover {
        color: $gray;
        box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.25);
        background: rgba(43, 45, 52, 0.89);
    }
    
    .card-home {
        background-color: $lightgreen;
        border-radius: 10px;
    }
    
    .card-home h2 {
        font-size: 36px;
    }
}
// End Home


// contact
.contact-card {
    background: #ffffff;
    box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
// end contact


// resources
.banner-resources {
    background-image:url(../img/banner/banner1.jpg);
    padding: 170px 0;
    background-size: cover;
}
// End Resources


// Profile
.card-profile:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.loan-steps .step-item::before {
    width: 200%;
}

// line dashed profile
.image-people {
    border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
    .loan-steps .step-item::before {
        width: 300%;
    }
}
// end profile


// blog
.banner-blog {
    background-image:url(../img/images/quoteImage.png);
    padding: 120px 0;
    background-size: cover;
}
// end blog


// Gallery
.banner-gallery {
    background-image:url(../img/banner/banner1.jpg);
    padding: 170px 0;
    background-size: cover;
}

.gallery-card {
    transition: 0.3s;
    border-radius: 10px;
}

.gallery-card:hover {
    box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.25);
}

.gallery-card > img {
    border-radius: 10px 10px 0 0;
}

.gallery-card > .card-body {
    padding: 30px 10px;
}
// end gallery


// services
.card-services {
    padding: 40px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.card-services:hover{
    box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 500px) {
}
// end services


// project
.banner-project {
    background-image:url(../img/banner/banner1.jpg);
    padding: 170px 0;
}
.card-project {
    border-radius: 10px;
    border: 1px solid #333;
}
.card-project > img {
    border-radius: 10px 10px 0 0;
}
// end project


// responsive
@media only screen and (max-width: 500px) {
    // font
    .banner-title{
        font-size: 36px;
        line-height: 54px;
    }
    .title1 {
        font-size: 26px;
        line-height: 39px;
    }
    .title2 {
        font-size: 20px;
        line-height: 30px;
    }
    .title3 {
        font-size: 18px;
        line-height: 27px;
    }
    .title4 {
        font-size: 15px;
        line-height: 22px;
    }
    .title6 {
        font-size: 13px;
        line-height: 20px;
    }
    .title7 {
        font-size: 12px;
        line-height: 18px;
    }


    // spacing
    .mt-30 {
        margin-top: 20px;
    }
    .mb-50 {
        margin-bottom: 30px;
    }
    .mb-80 {
        margin-bottom: 50px;
    }
    .mb-100 {
        margin-bottom: 60px;
    }
    .mt-20 {
        margin-top: 20px;
    }
    .mt-30 {
        margin-top: 20px;
    }
    .mt-50 {
        margin-top: 30px;
    }
    .mt-80 {
        margin-top: 50px;
    }
    .mt-100 {
        margin-top: 60px;
    }
    .p-50 {
        padding: 30px;
    }
    .p-40 {
        padding: 20px;
    }
    .p-30 {
        padding: 15px;
    }

    // display
    .sm-d-none {
        display: none;
    }


    // Breadcrumb
    li.list-inline-item {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
}